.footer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &__left{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    }
    &__desc{
        color: rgba(112, 112, 112, 1);
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;  
    }
    &__link{
        color: rgba(112, 112, 112, 1);
        &:hover{
            color: rgba(50, 109, 249, 1);
        }
    }
}


@media (max-width:450px){
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}